.boxx {
    display: flex;
    width: 99%;
    overflow: hidden;
    margin: 2px;
    justify-content: space-evenly;
  }
.box{
    /* display: flex; */
    width: 99vw;
    align-items: center;
    /* overflow: hidden; */
    margin: 2px
}
.shippingcontainer {
    width: 40%;
    max-width: 100%;
}
.shippingbox{
    background-color: white;
    width: 25vw;
    height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}
.shippingheading{

    text-align: center;
    /* color: rgba(0, 0, 0, 0.664); */
    font: 400 1.8vmax "Roboto";
    padding-top: 8vmax;
    width: 104%;
    margin: auto;
}
.shippingform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 80%;
  transition: all 0.5s ease-in-out;
}
.shippingform >div{
    display: flex;
    align-items: center;
    width: 100%;
}
.shippingform > div >input,
.shippingform > div >select{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}
.shippingform >div >svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.267);
}
.shippingbtn{
    border: none;
    background-color: tomato;
    color: white;
    font:300 1vmax "Roboto";
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 1vmax;
    outline: none;
    margin: 2vmax;
}
.shippingbtn:hover{
    background-color: red;
    transform: scale(1.1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
@media (max-width:600px){
    .shippingcontainer {
        width: 100% !important ; 
        max-width: 100%;
      }
    .boxx {
        flex-direction: column;
      }
    .shippingbox{
        background-color: white;
        width: 100%;
        height: 130% !important; 
        box-sizing: border-box;
        overflow: hidden;
    }
    .shippingheading{
        font: 400 6vw "Roboto";
        /* padding: 5vw; */
    }
    .shippingform > div {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 9px;
      }
    .shippingform{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: space-evenly;
        height: 100%;
        transition: all 0.5s ease-in-out;
    }
    .shippingform > div >input,
    .shippingform > div >select{
        padding: 4vw 10vw;
        font:300 4vw cursive;
}
.shippingform >div >svg {
    font-size: 6vw;
    transform: translateX(3vw);
}
.shippingbtn{
    font: 300 4vw "Roboto";
    padding: 4vw;
}
}
@media  (max-width:1200px) {
    .boxx {
        display: flex;
        width: 97%;
        overflow: hidden;
        margin: 2px;
        justify-content: space-evenly;
        flex-direction: ;
      }
    .shippingform {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 2vmax;
        justify-content: space-evenly;
        height: 45%;
        transition: all 0.5s ease-in-out;
      }
      .shippingbox {
        background-color: white;
        width: 100%;
        height: 70vh;
        box-sizing: border-box;
        overflow: hidden;
      }
      .shippingform > div > input, .shippingform > div > select {
        padding: 13px 4vmax;
          padding-right: 4vmax;
        padding-right: 1vmax;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.267);
        border-radius: 10px;
        font: 300 0.9vmax cursive;
        outline: none;
      }
      .dropdown-container{
        margin: 13px;
      }
}
@media (max-width:920px) {
    .boxx{
        flex-wrap: wrap;
    }
    .shippingcontainer {
        width: 68%;
        max-width: 100%;
      }
    .shippingform {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: space-evenly;
        height: 45%;
        transition: all 0.5s ease-in-out;
      }
}