.updateOrderForm {
  margin: 0vmax 0;
  padding: 3vmax;
  background-color: white;
}
.newProductContainerr {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.linkss{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 36%;
  position: relative;
  right: 58px;
}
.updateOrderForm > div > select {
  padding: 1vmax 4vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.confirmOrderPage {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-left: 2rem;
}

.confirmshippingArea {
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmshippingArea > p {
  font-size: 2vmax;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: Roboto;
}

.itemDetailsContainerBox {
  display: flex;
  justify-content: space-evenly;
  grid-gap: 0rem;
  margin-top: 2rem;
}

.itemDetailsContainerBox > div {
  display: flex;
}

.itemDetailsContainerBox > div > p {
  font-size: 1vmax;
  font-weight: bold;
  margin-right: 0.5rem;
  font-family: "Roboto";
}

.itemDetailsContainerBox > div > span {
  font: 100 1vmax "Roboto";
  position: relative;
  top: 3px;
}

.orderDetailsContainerBox {
  display: flex;
  justify-content: space-evenly;
  grid-gap: 3rem;
  margin-top: 1rem;
}

.orderDetailsContainerBox > div > p {
  font-size: 1vmax;
  font-weight: bold;
  font-family: "Roboto";
}
.payment{
  display: flex;
}
.payment > span {
  font: 100 1vmax "Roboto";
  position: relative;
  top: 3px;
}
.greenColor {
  color: green;
}

.redColor {
  color: red;
}

.confirmCartItems {
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}
.link{
  text-decoration: none;
color: black;
font-size: 1vmax;
font-family: Roboto;
transition: all 0.6s;
}
.confirmCartItems > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.confirmCartItemsContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.confirmCartItemsContainer > div {
  display: flex;
  align-items: center;
}

.confirmCartItemsContainer > div > img {
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 15px;
}

.confirmCartItemsContainer > div > span {
  font-size: 1vmax;
  margin-left: auto;
  font-family: "Roboto";
  position: relative;
  left: 61px;
}

@media screen and (max-width: 600px) {
  .updateOrderForm {
    padding: 5vmax;
  }

  .updateOrderForm > div > select {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .updateOrderForm > div > svg {
    font-size: 2.8vmax;
  }

  .confirmOrderPage {
    display: block;
  }

  .confirmCartItemsContainer {
    grid-template-columns: 1fr;
  }

  .confirmCartItemsContainer > div > img {
    width: 80px;
    height: 80px;
  }
}
  /* ch */
.shipingaddress {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  padding: 15px 0;
}
.shipingaddress div h2 {
  text-transform: capitalize;
  font-family: initial;
  font-size: 1.6vmax;
  font-weight: 500;
}
.shipingaddress div:not(:last-child) {
  border-right: 1px solid #000;
  padding: 0 15px;
}
.newProductContainer>p{
  font-size: 30px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar a:not(:first-child) {
  padding: 0rem 2rem; 
  border-bottom: 1px solid #5555;
  display: block;
}
.sidebar a > P {
  margin: 0;
  padding: 1rem 0;
}

.MuiTypography-body1 {
  font-size: 2vmax;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  padding-top: 24px;
}