.resetpassword-container{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
}
.resetpassword-box{
    background-color: white;
    width: 25vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
}
.resetpasswordheading{
    text-align: center;
    color: rgba(0, 0, 0, 0.618);
    font:400  "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 90%;
    /* margin: auto; */
}
.resetpassword-box > div >button {
    background-color: tomato;
    height: 3px;
    width: 30%;
    border: none;
    transition: all 0.5s ease-in-out;

}

#resetpasswordimage >input {
    display: flex;
    padding: 0%;
}
.resetpasswordform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s ease-in-out;
}
.resetpasswordform> div{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0.5vmax;
}
.resetpasswordform >div>input{
    padding: 1vmax 4vmax;
    padding-right:1vmax ;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
    height: 50px;
}
.resetpasswordform >div>svg{
    position: absolute;
    transform: translateX(1vmax);
}

.resetpasswordbtn{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.resetpasswordbtn:hover{
    background-color: red;
    transform: scale(1.1);
}


@media(max-width:600px){
    .resetpassword-container{
        background-color: white;
    }
    .resetpassword-box{
        width: 100vw;
        height: 95vh;
    }
    .resetpasswordform{
        padding: 5vmax;
    }
    .resetpasswordform >div> input{
        padding: 2.5vmax 5vmax;
        font:300 1.7vmax cursive ;
    }
    .resetpasswordform >div >svg{
        font-size: 2.8vmax;
    }
    .resetpasswordbtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
        transition: all 0.3s ease-in-out;
    }
    .resetpasswordbtn:hover{
        color: red;
    }
}
