.updatepassword-container{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    left: 0;
}
.updatepassword-box{
    background-color: white;
    width: 25vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
}
.updatepasswordheading{
    text-align: center;
    color: rgba(0, 0, 0, 0.618);
    font:400  "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    /* margin: auto; */
}
.updatepassword-box > div >button {
    background-color: tomato;
    height: 3px;
    width: 30%;
    border: none;
    transition: all 0.5s ease-in-out;

}
#updatepasswordimage > img {
    width: 3vmax;
    margin: 0.4vmax;
}
#updatepasswordimage >input {
    display: flex;
    padding: 0%;
}
#updatepasswordimage > input::file-selector-button{
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 7vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s ease-in-out;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.678);
    background-color: rgb(255, 255, 255);
}
#updatepasswordimage > input::file-selector-button:hover{
    background-color: rgb(231, 231, 231);
}
.updatepasswordform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s ease-in-out;

}
.updatepasswordform> div{
    display: flex;
    width: 100%;
    align-items: center;
    /* margin: 0.5vmax; */
}
.updatepasswordform >div>input{
    padding: 1vmax 4vmax;
    padding-right:1vmax ;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
    height: 50px;
}
.updatepasswordform >div>svg{
    position: absolute;
    transform: translateX(1vmax);
}

.updatepasswordbtn{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.updatepasswordbtn:hover{
    background-color: red;
    transform: scale(1.1);
}


@media(max-width:600px){
    .updatepassword-container{
        background-color: white;
    }
    .updatepassword-box{
        width: 100vw;
        height: 95vh;
    }
    .updatepasswordform{
        padding: 5vmax;
    }
    .updatepasswordform >div> input{
        padding: 2.5vmax 5vmax;
        font:300 1.7vmax cursive ;
    }
    .updatepasswordform >div >svg{
        font-size: 2.8vmax;
    }
    #updatepasswordimage >img {
        width: 8vmax;
        border-radius: 100%;
    }
    #updatepasswordimage >input::file-selector-button{
        height: 7vh;
        font: 400 1.8vmax cursive;
    }
    .updatepasswordbtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
        transition: all 0.3s ease-in-out;
    }
    .updatepasswordbtn:hover{
        color: red;
    }
}
